* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Museo Sans", sans-serif;
  background-color: #F5F5F5;
}

:root {
  font-size: 14px;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.top-header {
  background-color: #080808;
  padding: 5px 0;
}
.top-header__info {
  color: #7B7B7B;
  font-weight: 300;
}
.top-header__info:not(:last-child) {
  margin-right: 30px;
}
.top-header__info:hover {
  color: #f62221;
}
.top-header__link {
  color: #7B7B7B;
  font-weight: 300;
}
.top-header__link:hover {
  color: #f62221;
}
.top-header__dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #F62221;
  opacity: 0.5;
}
.top-header__icon {
  color: #fff;
  opacity: 70%;
  display: inline-block;
  font-size: 0.92rem;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background: #272727;
  text-align: center;
  padding-top: 10px;
  margin-right: 5px;
}

.social__link {
  color: #fff;
  display: inline-block;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background-color: rgba(246, 34, 33, 0.25);
  text-align: center;
  padding-top: 6px;
  margin-right: 10px;
}
.social__link:hover {
  background-color: #f62221;
  color: white;
}
.social__link__icon {
  display: inline-block;
  font-size: 1rem;
}

.intro {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
}
.intro .main-header {
  padding-top: 30px;
}

.menu__link {
  color: #fff;
  font-size: 1.14rem;
}
.menu__link:hover {
  color: #F62221;
}
.menu__link .icon-to-bottom {
  display: inline-block;
  font-size: 0.5rem;
  margin-left: 5px;
  margin-right: 15px;
}

.menu__link:not(:last-child) {
  margin-right: 30px;
}

.menu__button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.28rem;
  position: relative;
}
.menu__button:after {
  content: "";
  width: 50px;
  height: 5px;
  position: absolute;
  background-color: #F62221;
  border: 2px solid #F62221;
  border-radius: 55px;
  top: 40px;
  right: 0;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.menu__button:hover::after {
  width: 100%;
}

.menu__link__circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #F62221;
  opacity: 0.5;
}

.intro__content {
  max-width: 618px;
  margin-top: 130px;
}

.intro-type {
  text-align: right;
}

.intro-type__text {
  color: #BABABD;
  font-size: 1.14rem;
  margin-right: 15px;
}

.intro-type__text_red {
  color: #fff;
  font-size: 1.14rem;
  background: #7B1312;
  border-radius: 0px 15px;
  padding: 9px 18px;
  font-weight: 700;
}

.intro__title {
  color: #fff;
  font-size: 6.85rem;
}

.intro__text {
  margin-top: 22px;
  color: #BABABD;
  font-size: 1.14rem;
}

.intro__button {
  color: #fff;
  font-size: 1.28rem;
  font-weight: 700;
  border-radius: 55px;
  padding: 16px 40px;
  border: none;
  margin-top: 50px;
  margin-bottom: 333px;
}

.bg_red {
  background-color: #F62221;
  -webkit-box-shadow: 0px 16px 24px rgba(246, 34, 33, 0.2), 0px 2px 6px rgba(246, 34, 33, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 16px 24px rgba(246, 34, 33, 0.2), 0px 2px 6px rgba(246, 34, 33, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.border_red {
  border: 2px solid #F62221;
  border-radius: 55px;
  color: #fff;
  background-color: transparent;
  margin-left: 33px;
}

.works {
  margin-top: 80px;
  margin-bottom: 50px;
  position: relative;
}
.works:after {
  content: "";
  position: absolute;
  width: 680px;
  height: 190px;
  background-size: cover;
  background-image: url(../img/cargibg.svg);
  background-repeat: no-repeat;
  right: 30px;
  top: -50px;
}

.works__title {
  color: #080808;
  font-size: 4.4rem;
  font-weight: 700;
  margin-bottom: 102px;
  position: relative;
}

.red__sign {
  width: 33px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background: #F62221;
  border-radius: 0px 15px;
}

.works__title::before {
  content: "";
  width: 100px;
  height: 5px;
  background: #F62221;
  border-radius: 55px;
  position: absolute;
  top: 100px;
}

.screen {
  width: 100%;
}

.jobs {
  position: relative;
  margin-bottom: 30px;
}

.jobs:before {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 8, 8, 0)), to(rgba(8, 8, 8, 0.8)));
  background: linear-gradient(180deg, rgba(8, 8, 8, 0) 0%, rgba(8, 8, 8, 0.8) 100%);
  border-radius: 0px 0px 7px 7px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.mercedes {
  color: #fff;
  font-size: 1.28rem;
  position: absolute;
  top: 40px;
  left: 50px;
}

.price {
  color: #fff;
  font-size: 1.71rem;
  font-weight: 700;
  position: absolute;
  bottom: 46px;
  right: 50px;
}
.price .currency {
  color: #F62221;
}

.all-works {
  text-align: right;
  color: #080808;
  font-size: 1.14rem;
  font-weight: 500;
}
.all-works .to-right {
  color: #F62221;
  margin-left: 6px;
  vertical-align: middle;
}

.car-class {
  margin-bottom: 80px;
}

.car-box {
  position: relative;
}
.car-box__title {
  color: #fff;
  font-size: 1.71rem;
  font-weight: 700;
}
.car-box__text {
  color: #fff;
  font-size: 1.14rem;
  max-width: 406px;
}
.car-box:before {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 8, 8, 0)), color-stop(59.9%, rgba(8, 8, 8, 0.666667)), to(#080808));
  background: linear-gradient(180deg, rgba(8, 8, 8, 0) 0%, rgba(8, 8, 8, 0.666667) 59.9%, #080808 100%);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.car-box__img {
  width: 100%;
}

.car-box__info {
  position: absolute;
  top: 38px;
  left: 50px;
}

.date {
  color: #7B7B7B;
  font-size: 0.85rem;
  font-weight: 700;
  margin-left: 160px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: auto 15px 83px;
  grid-template-columns: auto 83px;
  -ms-grid-rows: 76px 15px 76px 15px 76px 15px 76px 15px 76px;
  grid-template-rows: 76px 76px 76px 76px 76px;
}

.grid-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid-container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid-container > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid-container > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.grid-container > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.grid-container > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.grid-container > *:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.grid-container > *:nth-child(8) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.grid-container > *:nth-child(9) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}

.grid-container > *:nth-child(10) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}

.bigimage {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
}

.small {
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}
.small img {
  width: 100%;
  height: 100%;
}
.small::before {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 8, 8, 0)), to(rgba(8, 8, 8, 0.8)));
  background: linear-gradient(180deg, rgba(8, 8, 8, 0) 0%, rgba(8, 8, 8, 0.8) 100%);
  border-radius: 0px 0px 7px 7px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.small:hover {
  border: 5px solid #F62221;
  border-radius: 7px;
}
.small:hover::before {
  background: transparent;
}

.grid-item1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
}

.grid-item2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.grid-item3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.grid-text__title {
  color: #080808;
  font-size: 1.71rem;
  font-weight: 700;
  margin-top: 20px;
}
.grid-text__list {
  color: #7B7B7B;
  font-size: 1rem;
  margin-bottom: 50px;
}

::marker {
  color: #F62221;
}

.map {
  background-color: #F5F5F5;
  padding-top: 90px;
}

.circle-red {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #F62221;
  margin-left: 10px;
}
.circle-red_right {
  margin-right: 10px;
}

.location {
  text-align: center;
  position: relative;
}
.location::after {
  content: "";
  width: 42%;
  height: 6px;
  position: absolute;
  background-color: #F62221;
  border-radius: 0px 55px 55px 0px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  top: 0;
  right: 0;
}
.location::before {
  content: "";
  width: 42%;
  height: 6px;
  position: absolute;
  background-color: #F62221;
  border-radius: 0px 55px 55px 0px;
  top: 0;
  left: 0;
  z-index: 99;
}

.karta {
  width: 100%;
}

.map-photo {
  position: relative;
}
.map-photo::before {
  content: "";
  position: absolute;
  background-image: url(../img/cargi-logo.svg);
  background-repeat: no-repeat;
  top: -25px;
  left: 44%;
  right: 0;
  bottom: 0;
}

.main-footer {
  background-color: #080808;
  padding: 80px 0;
}

.about-company {
  max-width: 310px;
}
.about-company__text {
  color: #697A89;
  font-size: 1rem;
  margin-top: 20px;
}

.title-red {
  color: #F62221;
  font-size: 1.14rem;
  font-weight: 700;
  margin-bottom: 15px;
  display: inline-block;
}

.footer-text {
  list-style: none;
  margin-bottom: 15px;
}
.footer-text li {
  margin-bottom: 10px;
}
.footer-text a {
  color: #fff;
  font-weight: 500;
  font-family: "TT Norms", "ans-serif";
}
.footer-text a:hover {
  color: #F62221;
}

.footer-contact .top-header__info {
  margin-bottom: 10px;
}

.footer-sayts {
  margin-top: 20px;
}
.footer-sayts__link {
  color: #FFFFFF;
  font-size: 1.07rem;
  background-color: #272727;
  border-radius: 5px;
  padding: 7px 10px;
  margin-right: 10px;
}
.footer-sayts__link:hover {
  color: #fff;
  background-color: #F62221;
}

.info {
  height: 107px;
  border-left: 1px dashed rgba(246, 34, 33, 0.25);
  border-right: 1px dashed rgba(246, 34, 33, 0.25);
}
.info:not(:first-child) {
  padding-right: 20px;
}

.bg-2 {
  background-image: url(../img/bg2.jpg);
  background-repeat: no-repeat;
}

.title_size {
  font-size: 4.57rem;
}

.button-bottom {
  margin-bottom: 69px;
}